@media (max-width:1050px) {
  .hero {
    &__wrapper {
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    &__center {
      order: 0;
      grid-column: span 2;
      max-width: 486px;
      width: 100%;
    }

    &__center-bg {
      scale: 0.7;

      &_banana {
        top: 40px;
        left: -140px;
      }

      &_strawberry {
        top: -80px;
        right: -80px;
      }
    }

    &__left {
      padding-top: 0;
      order: 1;
      max-width: 250px;
    }

    &__left-text {
      margin-left: -32px;
    }

    &__right {
      padding-top: 0;
      order: 2;
      max-width: 250px;
    }

    &__btn-box {
      margin-right: -32px;
    }
  }

  .steps {
    &__items {
      flex-direction: column;
    }

    &__item {
      max-width: 390px;
      width: 100%;
      margin-inline: auto;
    }
  }

  .footer {
    &__wrap {
      flex: 0 1 auto;
      flex-direction: column;
      gap: 80px;
    }

    &__contacts {
      padding-top: 40px;
    }
  }
}

@media (max-width:650px) {
  .container {
    padding-inline: 20px;
  }

  .header {
    position: relative;

    &__container {
      grid-template-columns: 1fr 24px;
      justify-items: start;
    }

    &__menu {
      position: fixed;
      padding-top: 125px;
      height: calc(100vh - 50px);
      width: 100%;
      margin-left: -20px;
      top: 50px;
      background-color: $red;
      overflow-y: auto;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.3s, opacity 0.3s;
      z-index: 5;

      &.active {
        transform: translateX(0);
        opacity: 1;
      }

      & .menu {

        &__list {
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          color: $white;
        }

        &__link {
          width: fit-content;

          &:hover {
            border-color: $white;
          }
        }
      }
    }

    &__cart {
      z-index: 10;

      &:hover {
        border-color: $white;
        background-color: $red-hover;

      }
    }

    &__button {
      position: relative;
      display: flex;
      align-items: center;
      padding-inline: 2px;
      width: 24px;
      height: 24px;
      background-color: transparent;
      text-align: center;

      span {
        display: inline-block;
        ;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background-color: $red;
      }

      &::after,
      &::before {
        content: '';
        position: absolute;
        background-color: $red;
        border-radius: 1px;
        height: 2px;
        width: 10px;
        left: 2px;
      }

      &::before {
        top: 5px;
        transition: rotate 0.2s, top 0.3s 0.2s;
      }

      &::after {
        top: 17px;
        width: 14px;
        transition: rotate 0.2s, top 0.3s 0.2s;
      }

      &.active {
        span {
          display: none;
        }

        &::after,
        &::before {
          width: 20px;
          top: 12px;
        }

        &::before {
          transition: rotate 0.3s 0.2s, top 0.2s;
          rotate: 45deg;
        }

        &::after {
          transition: rotate 0.3s 0.2s, top 0.2s;
          rotate: -45deg;
        }
      }
    }
  }

  .hero {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      gap: 0;
    }

    &__center {
      grid-column: span 1;
    }

    &__center-wrap {
      margin-bottom: 70px;
    }

    &__center-bg {
      scale: 0.4;

      &_banana {
        top: -45px;
        left: -75px;
      }

      &_strawberry {
        top: -95px;
        right: -20px;
      }
    }

    &__left {
      margin-bottom: 44px;
    }

    &__right {
      display: flex;
      flex-direction: column-reverse;
    }

    &__right-content {
      margin-bottom: 0;
    }

    &__btn-box {
      margin-bottom: 44px;
      justify-content: center;
    }

    &__btn {
      width: 125px;
    }
  }

  .steps {
    &__item {
      padding: 20px;
      min-height: 112px;
    }
  }

  .footer {
    &__container {
      flex-direction: column;
    }

    &__wrap {
      gap: 24px;
    }

    &__box-logo {
      width: 100%;
      text-align: center;
    }

    &__photo {
      width: auto;
      max-width: 335px;
      height: 170px;
      margin-inline: auto;
    }

    &__contacts {
      align-items: center;
    }

    &__location {
      text-align: center;
    }
  }
}

@media (max-width:480px) {
  .hero {
    &__center-border {
      padding: 13px 12px;
    }

    &__center-photo {
      height: 510px;
    }

  }

  .steps {
    &__items {
      margin-bottom: 44px;
    }
  }
}